.landing-grid {
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-color {
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5b86e5,
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-padding {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.avatar-img {
  height: 450px;
  padding-top: 5em;
  text-align: center;
  padding-bottom: 2rem;
}

.project-img {
  height: 160px;
  width: auto;
  text-align: center;
}

.hor-img {
    height: 480px;
    width: auto;
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
}

.banner-text {
  background-color: black;
  color: white;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bolder;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  padding-bottom: 1rem;
}
.banner-text p {
  font-size: 19px;
  margin: auto;
  padding-bottom: 1rem;
  align-items: center;
}

.icon {
  padding: 1rem;
  font-size: 45px;
  transition: 0.3s;
}

.icon:hover {
  color: #3cf1c9;
  transition: 0.3s ease-in-out;
}

.bottom-padding {
  padding-bottom: 3rem;
}

.top-padding {
  padding-top: 3rem;
}

.contact-body {
  margin: auto;
  background-color: grey;
  border: red;
  border-width: 1rem;
  width: auto;
  height: auto;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  color: black;
  border: #36d1dc;
  border-style: groove;
  padding: 1rem;
  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}
